/* 
FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;600&family=Orbitron:wght@400;600&family=Ubuntu:wght@400;700&display=swap');

/* 
RESETTING
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/
:root {
  --clr-background-color: #000;
  --clr-green: #5bff5b;
  --clr-gray-color: #272727;
  --clr-gray-font: #686868;
  --clr-yellow: #eded00;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 10px;
  --fixed-width: 600px;
  --font: 'Ubuntu';
  --secondary-font: 'Edu VIC WA NT Beginner';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}
body {
  font-family: 'Ubuntu';
  color: #fff;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, #011, #000);
}

.red {
  background-color: red;
}
.yellow {
  background-color: #eded00;
}
.orange {
  background-color: orangered;
}
.green {
  background-color: #5bff5b;
}
